/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Mar 13, 2023, 8:28:24 PM
    Author     : vegar
*/

.nav1{
    -fx-pref-width: 220;
}
.nav{
    -fx-pref-width: 200;
}
.nav:hover{
    -fx-pref-width: 220;
}
.nav:focused{
    -fx-pref-width: 220;
}
