/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Mar 3, 2023, 7:04:55 PM
    Author     : vegar
*/

.nav1{
    -fx-background-color:  rgb(51, 173, 255);
    -fx-text-fill: white;
}
.nav{
    -fx-background-color: transparent;
    -fx-text-fill: white;
}

.nav:hover{
    -fx-background-color:  rgb(51, 173, 255);
}
.nav:focused{
    -fx-background-color:  rgb(51, 173, 255);
}